$bg-light: #fbfbfb;
$bg-dark: #e4e4e4;
$txt-color: #383838;
$txt-highlight: #50bdc3;
$txt-lg: 36px;
$base-margin: 10px;
$base-padding: 10px;
$directions: top, right, bottom, left;

@mixin createDirectionalClasses ($baseClass, $property, $value) {
    @each $direction in $directions {
        .#{$baseClass}-#{$direction} {
            #{$property}-#{$direction}: $value;
        }
    }

    .#{$baseClass} {
        @each $direction in $directions {
            @extend .#{$baseClass}-#{$direction};
        }
    }
}

/* =====================
    atomic classes 
===================== */
.bg-light {
    background-color: $bg-light;
}

.bg-dark {
    background-color: $bg-dark;
}

@include createDirectionalClasses(padded, padding, $base-padding);
@include createDirectionalClasses(padded-lg, padding, $base-padding * 1.5);
@include createDirectionalClasses(padded-sm, padding, $base-padding / 1.5);
@include createDirectionalClasses(padded-none, padding, 0);

@include createDirectionalClasses(margined, margin, $base-margin);
@include createDirectionalClasses(margined-lg, margin, $base-margin * 1.5);
@include createDirectionalClasses(margined-sm, margin, $base-margin / 1.5);
@include createDirectionalClasses(margined-none, margin, 0);

.text-light {
    font-family: 'Bebas-Neue-Light'; 
}

.text-bold {
    font-family: 'Bebas-Neue'; 
}

.text-lg {
    font-size: $txt-lg;
}

.text-sm {
    font-size: $txt-lg / 2;
}

.text-highlight {
    color: $txt-highlight;
}

.text-centered {
    text-align: center;
}

.text-middle {
    vertical-align: middle;
}

.text-left {
    text-align: left;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.inline-block {
    display: inline-block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.pointer {
    cursor: pointer;
}

/* =====================
    base styling 
===================== */
body {
    color: $txt-color;
    @extend .margined-none;
    @extend .bg-light;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5 { 
    @extend .text-bold;
    margin: 0;
}

a {
    color: $txt-color;
}

p {
    @extend .margined-sm-top;
    @extend .margined-sm-bottom;
}


.panel {
    left: calc(50% - 345px);
    top: 8%;

    .panel-content {
        padding: 140px 55px;
    }

    h1, h2 {
        font-size: 56px;
        line-height: 24px;
    }

    h1 {
        letter-spacing: 3px;
        margin-bottom: 15px;
    }

    h2 {
        @extend .margined-none;
        letter-spacing: 1px;
    }

    .logo {
        @extend .absolute;
        left: calc(50% - 225px);
        top: calc(50% - 225px);
        height: 450px;
        opacity: 0.07;
        z-index: 1;
    }

    .links {
        @extend .relative;
        z-index: 99;
        a {
            @extend .text-light;
            @extend .inline-block;
            @extend .text-lg;
            @extend .text-middle;
            text-decoration: none;
            margin: 0 30px;
            letter-spacing: 15px;
        }

        a:hover {
            @extend .text-highlight;
        } 
    }

    .name {
        @extend .relative;
        margin: 100px 0;
        top: -30px;
    }
}

.thumbs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0.7%;
}

.thumb {
    width: 16%;
    padding-bottom: 16%;
    margin: 0.375% 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &.selected {
        filter: blur(1px) grayscale(100%);
    }
}

.image-panel {
    display: flex;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 10px #969696 inset;
    padding: ($base-padding * 4) ($base-padding * 10);

    .photo {
        vertical-align: top;
        max-height: 600px;
        max-height: 75vmin;
        border: solid #fff 5px;
        margin-right: $base-padding * 4;
        @extend .margined-lg-bottom;
    }

    .previous, .next, .close {
        @extend .pointer;
        @extend .text-bold;
        @extend .text-lg;
        @extend .inline-block;
        opacity: 0;
    }

    &:hover .previous,
    &:hover .next,
    &:hover .close {
        opacity: 1;
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
        @extend .padded-lg;
    }

    .previous, .next {
        position: absolute;
        top: calc(50% - 85px);
    }

    .previous {
        left: 20px;
    }

    .next {
        right: 20px;
    }

    .image-panel-details {
        font-size: 26px;
        @extend .inline-block;
    }
}


.main-nav {
    .name {
        font-size: 32px;
    }

    a {
        @extend .margined-left;
        @extend .margined-right;
        @extend .inline-block;
        @extend .text-light;
        text-decoration: none;
    }

    a.selected {
        @extend .text-highlight;
    }

    .logo {
        @extend .inline-block;
        @extend .text-middle;
        max-height: 40px;
    }
}

.github-logo {
    @extend .padded-lg;
    @extend .inline-block;
}

.email-icon, .github-logo {
    vertical-align: middle;
    width: 30px;
    opacity: 0.5;
    &:hover {
        opacity: 1;
    }
}

/**
 * @license
 * MyFonts Webfont Build ID 3354006, 2017-03-03T19:36:25-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: BebasNeue by Flat-it
 * URL: http://www.myfonts.com/fonts/flat-it/bebas-neue/regular/
 * Copyright: Copyright (c) 2010 by Ryoichi Tsunekawa. All rights reserved.
 * Licensed pageviews: Unlimited
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3354006
 * 
 * © 2017 MyFonts Inc
*/
  
@font-face {
    font-family: 'Bebas-Neue';
    src: url('/fonts/BebasNeue.eot');
    src: url('/fonts/BebasNeue.eot?#iefix') format('embedded-opentype'),
    url('/fonts/BebasNeue.woff2') format('woff2'),
    url('/fonts/BebasNeue.woff') format('woff'),
    url('/fonts/BebasNeue.ttf') format('truetype');
}

@font-face {
    font-family: 'Bebas-Neue-Light';
    src:  url('/fonts/Bebas-Neue-Light.ttf.woff') format('woff'),
    url('/fonts/Bebas-Neue-Light.ttf.svg#Bebas-Neue-Light') format('svg'),
    url('/fonts/Bebas-Neue-Light.ttf.eot'),
    url('/fonts/Bebas-Neue-Light.eot?#iefix') format('embedded-opentype'); 
}
