body {
    background-color: #eee;
}

.row {
}

.thumbs {
  display: flex;
  justify-content: space-between;
}

.thumb {
    width: 16%;
    padding-bottom: 16%;
    margin: 0.375% 0;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
}

.thumb.selected {
    opacity: 0.2;
}

.image-panel {
    padding: 20px;
    width: 100%;
    background-color: #e4e4e4;
}

.hide {
    display: none;
}